<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/logopdaily"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        >

        <activity
            android:name=".modals.BodyModal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity"></activity>

        <receiver
            android:name=".receivers.broadcast.ActionReceiver"
            android:exported="false" />

        <receiver android:name=".receivers.broadcast.NotificationReceiver"/>

        <receiver
            android:name=".receivers.broadcast.AlarmReceiver"
            android:process=":remote"></receiver>

        <service
            android:name=".services.FCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".modals.RangeHourModal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".games.WormGame"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".games.BananaGame"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".DashBoard"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WakeUpQuestionsActivity" android:launchMode="singleTop"></activity>
    </application>

</manifest>